@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');

/* main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    font-size: 20px;
    line-height: 1.6;
} */
h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    /* text-align: center; */
    font-family: "Unica One", sans-serif;
}
h2{
    font-family: "Roboto", sans-serif;
  }
.controls-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 2rem;
    max-width: 80%;
}
#grid{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10rem;
}
p{
    font-family: sans-serif;
    font-size: medium;
    margin-bottom: 2rem;
}
text{
    font-family: sans-serif;
    fill:#888;
}

button{
    font-family: "Roboto", sans-serif;
    background-color: #FDFCDC;
    padding: .5% 1rem;
    border-radius: 4px;
    border-style: none;
    color:white;

    background: #276678;
}

button:hover{
    background: #264653;
    cursor: pointer;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0% 1%;
    background: #cac4ba;



    color: black;
  }
  input{
    max-width: 3rem;
  }