@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Unica+One&display=swap');

body{
    margin: 0;
    box-sizing: border-box;
    background-color: #ecddbe;
}

#logo{
    font-family: "Unica One", sans-serif;
    font-size: 4rem;
    margin-right: auto;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    /* text-align: center; */
    font-family: "Roboto", sans-serif;
    margin-bottom: .5rem;
    margin-top: .5rem;
    color: #1a1616;
}

h2{
    font-family: "Roboto", sans-serif;
}

p{
    font-family: "Roboto", sans-serif;
}

nav a{
    color: #1a1616;
}

a{
    font-family: "Roboto", sans-serif;
    color: #805029;
    font-weight: 700;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

nav{
    display: flex;
    align-items: center;
    gap: 3rem;
    padding-left: 1%;
    padding-right: 2%;
    background-color: #ad6d37;
}

/* HERO SECTION */

section{
    margin:2%;
}

#hero-container{
    /* background-color: grey; */
    padding:15%;
    padding-right:50%;
    padding-left: 1%;
    border-radius: 8px;
    background-image: url("3_panels_geometric_designs-dark.png");
    /* filter: brightness(30%); */
}

#hero-container h1{
    color: #ecddbe;
    font-size: 5rem;
    font-family: "Unica One";
}

#hero-img{
    max-width: 80%;
    /* filter: brightness(30%); */
}

.primary-btn, .secondary-btn{
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    background-color: #f1ca00;
    border-radius: 8px;
    font-weight: 600;
    color:#1a1616;
    padding:1.5%;
    border:none;
    margin-top: 1rem;
    margin-right:1rem;
}
.primary-btn:hover, .secondary-btn:hover{
    background-color: #b19301;
    cursor: pointer;
}

/* WHY US SECTION */

#whyUs-section{
    margin-top: 5rem;
}

#whyUs-container{
    display: flex;
}

#whyUs-section h1{
    margin-bottom: 2rem;
}

#communityPosts-container{
    display: grid;
    max-width: 50%;
    grid-template-areas: 
    "communityPost1 communityPost2 communityPost3"
    "communityPost1 communityPost4 communityPost4"
    "communityPosts-link communityPosts-link communityPosts-link";
    gap: 2rem;
    margin-right: 2%;
}

#communityPost1{
 grid-area: communityPost1;
 object-fit: cover;
 max-width: 140%;
}

#communityPost2{
    grid-area: communityPost2;
}

#communityPost3{
 grid-area: communityPost3;
}

#communityPost4{
    grid-area: communityPost4;
    object-fit: cover;
}

#communityPosts-link{
    grid-area: communityPosts-link;
}

#communityPosts-container img{
    max-width: 100%;
    min-height: 100%;
    border-radius: 8px;
}

#communityPost1 img{
    max-width: 140%;
   }

#testimonials-container{
    /* background-color: grey; */
    min-width: 50%;
    /* display: grid;
    grid-template-areas: 
    "img text"
    "img text"; */
}

.testimonial{
    background-color: #3e4db4;
    min-width: 50%;
    border-radius: 100px;
    display: flex;
    gap: 2%;
    margin-bottom: 4%;
}

.testimonial img{
    border-radius: 50%;
    max-width: 20%;
}

.testimonial p{
    padding:2%;
    padding-right: 12%;
    color: #ecddbe;
}

/* Blog */

#blog-section{

}

#blog-section h1{
    margin-top: 7rem;
    margin-bottom: 2rem;
}

.blogpost{
    background-color: #421c55;
    border-radius: 8px;
    /* max-height: 20rem; */
}

.blogpost img{
    border-radius: 8px 8px 0px 0px;
    max-width: 100%;
    min-height: 75%;
    object-fit: cover;
}

.blogpost h2{
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 0rem;
    color: #ecddbe;
    margin-top: 1rem;
    margin-bottom: 0rem;
}

.blogpost p{
    padding-left: 3%;
    padding-bottom: 0.5rem;
    color: #ecddbe;
}

#blogposts-container{
max-width: 80%;
max-height: 80%;
 display: grid;
 grid-template-areas: 
 "blogpost1 blogpost2 blogpost3"
 "blogpost1 blogpost4 blogpost5";   
 gap: 2rem;
}

#blogpost1{
    grid-area: blogpost1;
}

#blogpost1 img{
    max-width: 100%;
    min-height: 85%;
}

#blogpost2{
    grid-area: blogpost2;
}

#blogpost3{
    grid-area: blogpost3;
}

#blogpost4{
    grid-area: blogpost4;
}

#blogpost5{
    grid-area: blogpost5;
}

/* About Us */

#aboutUs-section{
    margin-top: 7rem;
}

#aboutUs-section p{
    max-width: 50%;
    background-color: #b67d4f;
    border-radius: 8px;
    padding: 2%;
    margin: 0;
}

#footer{
    margin-top: 12rem;
    background-color: #1a1616;
    margin-left: 0;
    margin-bottom: 0;
    min-width: 100%;
    color: #ecddbe;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 2%;
}

#footer a{
    color: #ecddbe;

}

#copyright{
    padding-bottom: 2rem;
    padding-top: 2rem;
    margin:0;
}