@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Unica+One&display=swap');

/* body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0% 1%;
    background: #cac4ba;
    color: black;
  } */

  label{
    font-family: "Roboto", sans-serif;
    margin-right: .3rem;
  }

  select{
    font-family: "Roboto", sans-serif;
  }

#selector-container{
    margin-bottom: .5rem;
}

  #app {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
  }
  
  #canvas {
    width: 100%;
    max-width: 1000px;
    border: 1px solid #ccc;
    margin-top: 20px;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    /* text-align: center; */
    font-family: "Unica One", sans-serif;
    margin-bottom: .5rem;
    margin-top: .5rem;
    color: black;
    
}

#g3-controls-container{
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    margin-bottom: 1rem;
    /* max-width: 80%; */
}
#canvas{
    border: none;
}


#gridComposerPromo, #applyColorToSameShapesButton, #applyColorButton, #applyStrokeColorButton, #exportSvgButton, #canvasWidthInput, #colorPicker, #undoButton, #clearDesignButton, #strokeWeightInput{
 visibility: hidden;
}

#exportSvgButton{
    margin-top: 1rem;
    padding: .8rem;
}

a{
    color: #2a9d8f;
}

a:hover{
    color: #1f746a;
}

a:visited{
    color: #708090;
}

.small-text{
    font-size: 14px;
    color: #555;
    margin-bottom: .5rem;
    margin-top:1.5rem;
}

#strokeWeightInput{
    max-width: 6.5rem;
    padding: .5rem .2rem;
}

.activeButton{
    -webkit-box-shadow: inset 1px 1px 10px #333;
    -moz-box-shadow:    inset 1px 1px 10px #333;
    box-shadow:         inset 1px 1px 10px #333;
}

.notActiveButton{
    -webkit-box-shadow: 0;
    -moz-box-shadow:    0;
    box-shadow:         0;
}

.gridIcon{
 height: 2rem;
 /* margin: 2rem; */
}

@media only screen and (max-width: 600px) {
    #app, #selector-container, #file-uploader {
        padding: 0% 3%;
    }
    #g3-controls-container{
        margin-bottom: 0rem;
    }
  }